.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
}

@media (max-width: 75em) {
  .hero {
    gap: 4.8rem;
  }
}

@media (max-width: 59em) {
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-img {
    width: 60%;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }
}

@media (max-width: 35em) {
  .hero {
    padding: 0 3.2rem;
  }

  .section-hero {
    padding: 2.4rem 0 4.8rem 0;
  }

  .hero-img {
    width: 80%;
  }
}
